
.inputContainer {
    margin-bottom: 1vh;
}

.inputIcon {
    position: relative;
    left: 4vh;
    top: 0.3vh;
    cursor: text;
}

.input {
    width: 340px;
    height: 56px;
    padding-left: 2.8rem;
    background-color: #232129;
    color: #F4EDE8;
    font-family: 'Roboto Slab';
    font-size: 16px;
    border-radius: 10px;

    &:focus {
        outline: none;
        box-shadow: 0 0 10px #FF9000;
    }

    ::placeholder {
        padding-left: 2.8rem;
        color: #666360;  
        font-size: 16px;
    }
}

.inputPassword {
    background-color: #F4EDE8;
}
